<div class="comment">
  <span class="image align-left">
    <img src="http://gravatar.com/<%= gravatar_name %>" alt="gravatar">
  </span>
  <div class="comment-container">
    <header>
      <h2><%= name %></h2>
      <div class="byline">
        <%= created_at %>
      </div>
    </header>
    <div class="content-content">
      <%= content %>
    </div>
  </div>
</div>
