<div class="comment">
  <div class="image">
    <%= $.gravatarHtml(gravatar_name) %>
  </div>
  <div class="container">
    <header>
      <span class="author"><%= name %></span>
    </header>
    <div class="content">
      <%= formatted_content %>
    </div>
    <footer>
      <span class="date">
        <%= formatted_date %>
      </span>
    </footer>
  </div>
  <div class="border-bottom"></div>
</div>
