<div class="comment">
  <span class="image">
    <%= $.gravatarHtml(gravatar_name) %>
  </span>
  <div class="container">
    <header>
      <span class="author"><%= name %></span>
    </header>
    <div class="content-content">
      <%= content %>
    </div>
    <footer>
      <span class="date">
        <%= formatted_date %>
      </span>
    </footer>
  </div>
</div>
