<h1>New comment</h1>

<form id="new-comment" name="comment">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="gravatar_name"> gravatar_name:</label>
    <input type="text" name="gravatar_name" id="gravatar_name" value="<%= gravatar_name %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Comment" />
  </div>

</form>

<a href="#/index">Back</a>