---
layout: default
---

<h1>Research activities</h1>

{% for paper_type in site.data.papers %}
<h2>{{ paper_type.title }}</h2>
<ol class="post-list">
  {% for paper in paper_type.papers %}
    <li>
      {{ paper.title }}
      {% for link in paper.links %}
        [<a href="{{ link.href | relative_url }}">{{ link.text }}</a>]
      {% endfor %}
      <div class="authors">
        {% for author in paper.authors %}
          {%- if author == site.author.name -%}
            <strong>{{ author }}</strong>
          {%- else -%}
            {{ author }}
          {%- endif -%}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </div>
      <div class="note">
        {{ paper.note }}
      </div>
    </li>
  {% endfor %}
</ol>
{% endfor %}

<hr>

<h2>Master thesis</h2>
<p>
  A study of machine learning approaches to cross-language code clone detection
  [<a href="{{ "research/master-thesis/thesis.pdf" | relative_url }}">PDF</a>]
  [<a href="{{ "research/master-thesis/resume.pdf" | relative_url }}">Summary</a>]
  [<a href="{{ "research/master-thesis/slides.pdf" | relative_url }}">Slides</a>]
<br>
<small>Supervisor: <a href="https://www.csg.ci.i.u-tokyo.ac.jp/~chiba/site/">Shigeru Chiba</a></small>
<br>
<small>2018, <a href="https://www.u-tokyo.ac.jp/en/index.html">The University of Tokyo</a></small>
</p>
