<ul class="menu">
    {% for item in site.data.menu %}
    {% if item.subcategories != null %}
    <li><a href="{{ item.href | relative_url }}" class="page-link">{{ item.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in item.subcategories %}
    <li><a href="{{ subcategory.subhref | relative_url }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    {% assign url = item.href | relative_url %}
    {% assign path_prefix = url | remove_first: '/' | split: '/' | first %}
    {% assign page_prefix = page.url | remove_first: '/' | split: '/' | first %}
    <li class="{% if page_prefix == path_prefix %}active{% endif %}">
        <a href="{{ url }}" class="page-link">{{ item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
