.cv {
  section {
    .info {
      font-size: $small-font-size;
      .period {
        &:not(.period-only)::after {
          content: " | ";
        }
      }
      .location {
        font-style: italic;
      }
    }

    .note {
      font-style: italic;
      font-size: 0.8em;
    }
  }
}
