.page {
    margin: 0 auto;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    @include desktop() {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        min-width: -webkit-calc(#{$content-min-width} - (#{$spacing-unit} * 2));
        min-width:         calc(#{$content-min-width} - (#{$spacing-unit} * 2));
    }
}

main.content {
    margin-top:    $spacing-unit * 0.9;
    margin-bottom: $spacing-unit * 1.5;
    font-size: 12pt;
}

// Clearfix
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.post {
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.post p {
    margin-top:    0;
}

.post {
    > h1, > h2, > h3, > h4, > h5, > h6 {
        margin-top:    $spacing-unit * 0.9;
        margin-bottom: $spacing-unit * 0.2;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-light-color;
}

.post-link {
    display: block;
}

.intro {
    @extend %clearfix;

    .image {
        float: right;
        margin: 0 1em;
        max-width: 35%;
        @include desktop() {
            max-width: 25%;
        }
    }
}

table {
    &.spaced {
        th, td {
            padding: 0.2em 1em;
        }
    }

    &.hborder {
        margin-bottom: 1em;
        border-collapse: collapse;
        th {
            border-top: 1.5px solid black;
            border-bottom: 1.5px solid black;
        }
        &.all {
            td {
                border-bottom: 1px solid black;
            }
        }
        tr:last-child {
            td {
                border-bottom: 1.5px solid black;
            }
        }
    }
}

.collapsible {
    display: none;
}
