/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
  color: #ccc;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid ;
  border-radius: 20px;
  color: $link-color;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.footer__copyright .creativecommons {
  margin-left: 10px;
  visibility: bottom;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
  background-color: #fff;
}

.panel-main footer {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  text-align: center;
  z-index: 100;
}

.panel-main footer a {
  text-decoration: underline;
}


@media all and (max-width: 340px) {
  .panel-cover.panel-cover--collapsed .panel-main footer {
    display: none;
  }
}

.mobile  .panel-cover.panel-cover--collapsed .panel-main footer {
  display: none;
}
