h1, h2, h3, h4, h5, h6 {
  &.sm-top-margin {
    margin-top: 0.3em;
  }

  .minor {
    font-size: 0.8em;
    &.icon {
      font-size: 0.6em;
    }
    &.very {
      font-size: 0.6em;
      font-weight: normal;
    }
  }
}

.text {
  &.minor {
    font-size: 0.8em;
  }
}

.small-margin {
  & > * {
    margin: 0.5em 0;
  }
}

a {
  &.discrete {
    color: $text-color;
  }
}

.simple {
  list-style-type: none;
}

.mono {
  font-size: 0.8em;
  font-family: "Lucida Console", Monaco, monospace;
}
