<section class="widget widget-about">
    <header>
        <h2>About Me</h2>
    </header>
    <span class="image align-left">
    <%= gravatar_image_tag 'tuvistavie@hotmail.com' %>
    </span>
    <p>
        Phasellus dapibus sed convallis scelerisque. Donec et augue id tortor ultricies
        eget pellentesque turpis ut nulla et sem, vel iaculis arcu. Nulla vel lorem nisl,
        quis et ultricies tellus nunc imperdiet.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, modi, aut, inventore, aperiam iure quisquam perspiciatis molestias est labore velit obcaecati nostrum sunt et quasi mollitia quod reiciendis nemo itaque.
    </p>
    <footer>
        <a href="#" class="button-style2 icon24 icon24-bio">Full Biography</a>
    </footer>
</section>
