<% cache [@admin_info, 'small', I18n.locale] do %>
    <section class="widget widget-about">
        <header>
            <h2><%= t 'common.about' %></h2>
        </header>
        <span class="image align-left">
            <%= cl_image_tag @admin_info.small_picture, :width => 80, :height => 80 %>
        </span>
        <p>
            <%= @admin_info.profile %>
        </p>
        <footer>
            <%= link_to t('common.show_profile'), about_path, :class => "button-style2 icon24 icon24-bio" %>
        </footer>
    </section>
<% end %>
