<section class="widget widget-about">
    <header>
        <h2><%= t 'common.about' %></h2>
    </header>
    <span class="image align-left">
        <%= gravatar_image_tag current_admin.email %>
    </span>
    <p>
        <%= @profile %>
    </p>
    <footer>
        <%= link_to t('common.show_profile'), about_path, :class => "button-style2 icon24 icon24-bio" %>
    </footer>
</section>
