<% cache @tweets do %>
    <section class="widget widget-recent-tweets">
        <header>
            <h2><%= t 'common.recent_tweets' %></h2>
        </header>
        <ul class="style1">
            <% @tweets.each do |tweet| %>
            <li>
                <p>
                    <%= auto_link tweet.content, :html => { :target => '_blank' } %>
                </p>
                <div class="date">
                    <%= t 'common.to_now', :time => time_ago_in_words(tweet.posted) %>
                </div>
            </li>
            <% end %>
        </ul>
        <footer>
            <%= link_to '@tuvistavie', 'https://twitter.com/tuvistavie', :class => "button-style2 icon24 icon24-folder", :target => '_blank' %>
        </footer>
    </section>
<% end %>
