<article class="post about-me">
    <header>
        <h2>
            <%= current_admin.nickname %>
        </h2>
        <div class="byline">
            <%= current_admin.full_name %>
        </div>
    </header>
    <span class="image align-left">
        <%= cl_image_tag(current_admin.large_picture, :width => 280, :height => 274) %>
    </span>
    <div class="content">
        <%= markdown current_admin.long_profile %>
    </div>
</article>

