<article class="post">
    <header>
        <h2>
            tuvistavie
        </h2>
        <div class="byline">
            Daniel Perez
        </div>
    </header>
    <div class="content">
        <dl>
            <dt>Email</dt>
            <dd>tuvistavie@gmail.com</dd>
            <dt>Github</dt>
            <dd><%= link_to 'github.com/tuvistavie/', 'https://github.com/tuvistavie', :target => '_blank' %></dd>
            <dt>Facebook</dt>
            <dd><%= link_to 'www.facebook.com/tuvistavie/', 'https://www.facebook.com/tuvistavie', :target => '_blank' %></dd>
            <dt>Twitter</dt>
            <dd><%= link_to 'twitter.com/tuvistavie/', 'https://twitter.com/tuvistavie/', :target => '_blank' %></dd>
            <dt>Skype</dt>
            <dd>tuvistavie</dd>
        </dl>
    </div>
</article>

