Admin.create(
  email: "foo@foo.bar",
  password: 'foobar',
  password_confirmation: 'foobar',
  small_picture: "cloudinary_small_id.jpg",
  large_picture: "cloudinary_large_id.jpg",
  first_name: "First",
  last_name: "Last",
  nickname: "Nick"
) if Admin.count == 0
