<!-- Recent Posts -->
<section class="widget widget-recent-posts">
    <header>
        <h2><%= t 'common.recent_posts' %></h2>
    </header>
    <ul class="style1">
        <% @recent_posts.each do |post| %>
        <li>
            <%= link_to post.title, post %>
            <div class="date">
                <%= t 'common.to_now', :time => time_ago_in_words(post.created_at) %>
            </div>
        </li>
        <% end %>
    </ul>
    <!-- <footer>
        <%= link_to t('common.archive'), '#', :class => "button-style2 icon24 icon24-folder" %>
    </footer> -->
</section>
