<% @posts.each do |post| %>
<%= render :partial => 'posts/small', :locals => { :post => post } %>
<% end %>

<div class="pager">
    <span class="button-style3">Previous Page</span>
    <a href="#" class="button-style3">Next Page</a>
</div>


<% if admin_signed_in? %>
<%= link_to t('posts.new'), new_post_path, :class => "button-style2" %>
<% end %>
