<article class="post">
    <header>
        <h2>
            <a href="#">
                <%= @post.title %>
            </a>
        </h2>
    </header>
    <%= markdown @post.content %>

    <footer>
        <span class="tags">
            Posted in <a href="#">News</a>, <a href="#">Work</a>, <a href="#">Something</a>
        </span>
    </footer>
</article>

