#comments {
  *{margin:0;padding:0;}
  a{color:#0371B4;}
  .comment{
    .container{
      overflow:hidden;
    }
    .image{
      float:left;
      width:auto;
      margin:10px 20px 0 10px;
      img{
        width:60px;
      }
    }
    .author{
      font-size:22px;
      color:#145F99;
      padding-top:5px;
    }
    .posted_at{
      line-height:23px;
      margin:0 0 5px 0;
    }
    .content{
      font-size:15px;
    }
  }

  .answers{
    padding-left:10%;
  }

  footer{
    height:40px;
    .reply {
      float:right;
    }
  }
}
