// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-post {
    font-size: 10px;
    font-weight: normal;
    font: #dddddd;
}
