<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <link rel="stylesheet" href="{{ "css/presentation.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "css/presentation-fonts.css" | relative_url }}">

    {% include metadata.html %}
    {% include mathjax.html %}
    {% include favicon.html %}
  </head>
  <body>
    <textarea id="source">
{{ content }}
    </textarea>

    <script type="text/javascript" src="{{ "js/highlight-solidity.js" | relative_url }}"></script>
    <script src="{{ "js/remark-latest.min.js" | relative_url }}" type="text/javascript">
    </script>
    <script type="text/javascript">
    remark.highlighter.engine.registerLanguage('solidity', window.hljsDefineSolidity);
     var slideshow = remark.create({
       ratio: '16:9',
       {% if page.highlight_language %}
       highlightLanguage: '{{ page.highlight_language }}',
       {% endif %}
       navigation: {
         scroll: true,
       }
     });
    </script>
    {% include javascript.html %}
  </body>
</html>
