<div>
    <span>
      <%= f.label :locale_ja, t('common.japanese'), :class => 'right' %>
  </span>
  <span>
      <%= f.radio_button :locale, 'ja', :checked => I18n.locale == :ja %>
  </span>
  <span>
      <%= f.label :locale_en, t('common.english'), :class => 'right' %>
  </span>
  <span>
      <%= f.radio_button :locale, 'en', :checked => I18n.locale == :en %>
  </span>
</div>
