<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- About -->
        <section class="widget widget-about">
            <header>
                <h2>About Me</h2>
            </header>
            <img src="images/pic3.jpg" alt="" class="image" />
            <p>
                Phasellus dapibus sed convallis scelerisque. Donec et augue id tortor ultricies
                eget pellentesque turpis ut nulla et sem, vel iaculis arcu. Nulla vel lorem nisl,
                quis et ultricies tellus nunc imperdiet.
            </p>
            <footer>
                <a href="#" class="button-style2 icon24 icon24-bio">Full Biography</a>
            </footer>
        </section>

        <!-- Recent Posts -->
        <section class="widget widget-recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul class="style1">
                <li>
                    <a href="#">Magna dolore phasellus lorem ipsum</a>
                    <div class="date">Posted 6 hours ago</div>
                </li>
                <li>
                    <a href="#">Lacus venenatis sed lorem consequat</a>
                    <div class="date">Posted 2 days ago</div>
                </li>
                <li>
                    <a href="#">Dolore sagittis purus dolore nullam sed blandit</a>
                    <div class="date">Posted 4 days ago</div>
                </li>
                <li>
                    <a href="#">Consequat nunc imperdiet lorem vel nullam</a>
                    <div class="date">Posted 1 week ago</div>
                </li>
            </ul>
            <footer>
                <a href="#" class="button-style2 icon24 icon24-folder">Archives</a>
            </footer>
        </section>

        <!-- Recent Tweets -->
        <section class="widget widget-recent-tweets">
            <header>
                <h2>Recent Tweets</h2>
            </header>
            <ul class="style1">
                <li>
                    <p>Ipsum magna lorem dolor veroeros etiam veroeros dolore consequat? <a href="#">t.co/xxxxxxxxxx</a></p>
                    <div class="date">Posted 6 hours ago</div>
                </li>
                <li>
                    <p><a href="#">@4templates</a> Veroeros lorem etiam nisl lorem dolor blandit lorem non nisl dapibus imperdiet.</p>
                    <div class="date">Posted 8 hours ago</div>
                </li>
                <li>
                    <p>Etiam eros volutpat <a href="#">@4templates</a> urna sagittis purus laoreet rutrum ultricies purus.</p>
                    <div class="date">Posted 9 hours ago</div>
                </li>
            </ul>
            <footer>
                <a href="#" class="button-style2 icon24 icon24-folder">@4templates</a>
            </footer>
        </section>

        <!-- Copyright -->
        <div id="copyright">
            &copy; 2012 My Untitled Blog. All rights reserved.
        </div>

    </div>
</div>
