<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <%= render 'static/side_about' %>

        <%= render 'posts/sidebar_list' %>

        <%= render 'static/twitter_timeline' %>

        <!-- Copyright -->
        <div id="copyright">
            &copy; 2014 tuvistavie. All rights reserved.
        </div>
    </div>
</div>
